

   
.content-input input,
.content-select select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
    .content-select{
        margin: 0 80px;
        max-width: 250px;
        position: relative;
    }
    
    .content-select select{
        display: inline-block;
        width: 100%;
        cursor: pointer;
        padding: 7px 10px;
        height: 35px;
        outline: 0; 
        border: 0;
        border-radius: 0;
        background: #f0f0f0;
        color: #000;
        font-size: 1em;
        color: #000;
        font-family: 
        'Quicksand', sans-serif;
        border:2px solid rgba(0,0,0,0.1);
        border-radius: 3px;
        position: relative;
        transition: all 0.25s ease;
    }
    
    
    
    /* 
    Creamos la fecha que aparece a la izquierda del select.
    Realmente este elemento es un cuadrado que sólo tienen
    dos bordes con color y que giramos con transform: rotate(-45deg);
    */
    .content-select i{
        position: absolute;
        right: 20px;
        top: calc(50% - 10px);
        width: 10px;
        height: 10px;
        display: block;
        border-left:2px solid #3f51b5;
        border-bottom:2px solid #3f51b5;
        transform: rotate(-45deg); /* Giramos el cuadrado */
        transition: all 0.25s ease;
    }
    
    .content-select:hover i{
        margin-top: 3px;
    }

section.products {
    display: flex;
    flex-wrap: wrap ;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
   
}
