<div class="content-select">
        <select mat-select class="form-select form-select-lg mb-3" [(ngModel)]="categoria" aria-label=".form-select-lg example">
                <option *ngFor="let cat of listCat" value="{{cat.id}}">{{cat.name}}</option>
        </select>
        <i></i>
</div>
<section class="products row">
        
        <app-product (addToCartClick)="addToCart($event)" (addDetailsClick)="addDetails($event)"[categoria]="categoria" [product]="product" *ngFor="let product of products  "></app-product>
</section>
