.card {
    margin: 5px;
    min-height: 180px;
    min-width: 400px;
    max-width: 400px;
    height: 100%;
}

button{
    width: 100%;
}


  .contImg{
    display: flex;
    justify-content: center;
  }

  img {
    /*
    display: block;*/
    max-width: 100%;
    height: auto;
  }
